<form action="{% url 'vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ detail.question }}</h1></legend>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    {% for choice in detail.choices.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>